<clr-datagrid>
  <clr-dg-column>ID</clr-dg-column>
  <clr-dg-column [clrDgField]="'name'">Nom</clr-dg-column>
  <clr-dg-column>Description</clr-dg-column>
  <clr-dg-column>Prix</clr-dg-column>
  <clr-dg-column>Stock</clr-dg-column>

  <clr-dg-row *clrDgItems="let product of products">
    <clr-dg-cell>{{product.idProduct}}</clr-dg-cell>
    <clr-dg-cell>{{product.name}}</clr-dg-cell>
    <clr-dg-cell>{{product.description }}</clr-dg-cell>
    <clr-dg-cell>{{product.price}} €</clr-dg-cell>
    <clr-dg-cell>{{product.stock}} En stock</clr-dg-cell>
  </clr-dg-row>

  <clr-dg-footer>
    <clr-dg-pagination #pagination [clrDgPageSize]="20">
      <clr-dg-page-size [clrPageSizeOptions]="[10,20,50,100]">Produits par page</clr-dg-page-size>
      {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}} of {{pagination.totalItems}} produits
    </clr-dg-pagination>
  </clr-dg-footer>
</clr-datagrid>
